*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',
    sans-serif;
}

nav{
    .navbar-brand{
        color: #060684 !important;
        font-size: 24px;
        font-weight: bold;
    }

    .navbar-nav{
        .nav-link{
            &.active{
                font-weight: bold;
                color: #060684 !important;
            }

            &:hover{
                color: #060684 !important;
            }
        }
    }

    .btn-login{
        background-color: #060684;
        color: #fff;
        border-radius: 0px;

        &:hover{
            background-color: #0909a0;
            color: #fff;
        }
    }
}

//header
header{
    height: 90vh;
    padding: 120px 0 165px;
    background: linear-gradient(#ccd8fc 0%, #434379 100%);

    h1{
        margin-top: 100px;
    }

    .btn-login {
        background-color: #060684;
        color: #fff;
        border-radius: 20px;
        width: 20%;
        margin-top: 20px;
        margin-left: 200px;

        &:hover {
            background-color: #0909a0;
            color: #fff;
        }
    }

    img{
        width: 40vw;
        object-fit: cover;
        display: block;
        border-radius: .5rem;
        
    }

    .box-img::before{
        content: '';
        width: 40vw;
        height: 53%;
        position: absolute;
        // top: 0;
        // left: 0;
        background: linear-gradient(to bottom, rgba(168, 181, 255, 0.74),
            rgba(27, 44, 141, 0.5));
        box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
        border-radius: .5rem;
    }
}

//main
main{
    background: #101419;

    .section-content {
        
        .section-content-heading {
            height: 20vh;

            h2{
                padding-top: 30px;
                color: #fff;
            }
        }
    }

    .section-cards {
        
        .card-value {
            background-color: #0A0F16;
            border-radius: 16px;

            img{
                margin-bottom: 40px;
            }

            h5{
                margin-bottom: 11px;
            }

            p{
                font-weight: lighter;
            }
        }
    }

    .section-partners{
        margin-top: 50px;
        padding: 50px 0;

        h2{
            color: #fff;
            font-weight: bold;
            margin-bottom: 50px;
        }

        img{
            max-width: 60vw;
        }
    }
}

//footer
.section-footer{
    padding-top: 50px;
    background-color: #101419;

    .section-right{
        h4{
            color: #1a1a86;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
        }

        p{
            color: #fff;
            font-weight: lighter;
            font-size: 18px;
        }
    }

    .section-left{
        margin-top: 50px;

        h5{
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
        }

        li{
            margin-bottom: 15px;
        }

        a{
            color: #fff;
            text-decoration: none;
            font-weight: lighter;
            font-size: 16px;

            &:hover{
                text-decoration: underline  #96d7eb;
            }
        }   
    }

    .copyrights{
        color: #fff;
        font-weight: lighter;
    }
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #F8F9FA;

}

::-webkit-scrollbar-thumb {
    background: rgb(7, 68, 138);
}

//breakpoints
//navbar for desktop
@media only screen and (min-width: 992px){
    nav {
        ul {
            margin-left: 35%;
        }
    }
}

//for mobile
@media only screen and (max-width: 820px){
    header{
        background-image: url(../images/20944999.jpg);
        background-size: cover;
        background-position: center;

        .headline{
            background-color: rgba(78, 78, 248, 0.85);
            border-radius: 16px;
            margin-top: -150px;
            width: 100%;
            height: 90vh;
        }

        h1{
            padding-top: 250px;
            margin-top: 30px;
            text-align: center;
            color: #fff;
        }

        .btn-login{
            margin-top: 20px;
            margin-left: 130px;
            margin-bottom: 20px;
            width: 50%;
        }

        // .box-img::before {
        //     height: 20%;
            
        // }

        img {
            display: none;
        }

        .box-img::before {
            display: none;
        }
    }

    //footer
    footer{
        .section-left{
            h5{
                margin-top: 20px;
            }
        }
    }
}
